body
{
    margin : 0 auto;
}
:root
{
    /*Couleurs*/
    --font-color-purple : #554D89;
    --text-color-grey : #5B5766;
    --bg-degrade : linear-gradient(30deg, rgba(104,82,237,1) 0%, rgba(186,67,252,1) 100%);
}
h1, h2
{
   font-family: 'Poppins';
   font-size: 3.125rem; 
   font-weight : 700;
   color : var(--font-color-purple);
   margin-bottom: 1rem;
}
.corps-de-texte
{
    font-family: 'Nunito', sans-serif;
    font-size : 1.375rem;
    color : var(--text-color-grey);
}
 header nav
{
    display: flex;
    justify-content: start;
    align-content: center;
}
header nav p
{
    margin : 0;
    padding: 1rem;
}
a
{
    text-decoration: none; 
    
}
ul
{
    list-style: none;
    display : flex;
    justify-content: space-between;
    align-content: center;
    margin : 0;
}
li 
{
    padding-right: 1rem;
    padding-top: 1.5rem;
    
}
li a
{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color : var(--text-color-grey);
}
li a:hover /*seulement pour les ordinateurs (pas de survol au tactile)*/
{
    color : var(--font-color-purple);
    font-weight: 700;
}
li:hover
{
    border-top: 0.1rem solid; /*penser à rajouter un dégradé*/
}
.appear-responsive /*ordi*/
{
    display: none;
}
#container /*ordi*/
{
    background-image: url(media/shape.png);
    background-position : left 160% top 55%;
    background-size: 80%;
    background-repeat: no-repeat;
    width : 1440px;
    margin : auto;   
}
.en-tete>div
{
    width: 25%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 20%; /*Attention à revoir*/
}
.en-tete
{/*Attention à revoir*/
    width : 100%;
    height : 90%vw;
}
.choix
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}